	<% include ./partials/header %>
		
		<div class="block results">
			<p class="searchAgain"><a href="/" title="" class="subtitle"><i class="fa fa-home"></i>search</a></p>

			<h2 class="title">Names already in use</h2>
			
			<div class="block storeNames">
				
				<% data.forEach(function(store){  %>
					<div class="box">
						<section class="content">			
							<ul class="menu-list">
								<li><h4 class="title is-5"><%= store.name %></h4></li>
								<li class=""><%= store.street %></li>
								<li class=""><%= store.city %> <%= store.state %><%= store.zip %> </li>
								<li class=""> <%= store.phone %></li>
							</ul>
						</section>
					</div>
				<% }) %>
				
			</div>
		</div>

<% include ./partials/footer %>

get it as an array and splice anything after com

get the address and find the ending equal to com 
if there is anywords after com 
remove it

	
</body>
</html>