	<% include ./partials/header %>
		
		<div class="block results">
			<p class="searchAgain"><a href="/" title="" class="subtitle"><i class="fa fa-home"></i>search</a></p>

			<h2 class="title">Names already in use</h2>
			
			<div class="block storeNames">
				
				<% data.forEach(function(store){  %>
					<div class="box">
						<section class="content">			
							<ul class="menu-list">
								<li><h4 class="title is-5"><%= store.name %></h4></li>
								<li class=""><strong><label>Type: </label></strong><%= store.status %></li>
								<li class=""><strong><label>Address: </label></strong><%= store.street %></li>
								<li class=""><strong><label>City: </label></strong><%= store.city %> <%= store.state %><%= store.zip %> </li>
								<li class=""><strong><label>Telephone: </label></strong><%= store.phone %></li>
							</ul>
						</section>
					</div>
				<% }) %>
				
			</div>
		</div>

<% include ./partials/footer %>
	
</body>
</html>